/* -------------------------- */
/*      Circular Std          */
/* -------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
}

/* -------------------------- */
/*      Product Sans          */
/* -------------------------- */
/* Google Sans = ProductSans */

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Black.ttf") format("truetype");
  font-weight: 900;
}
